<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rans">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rans">
        <activity
            android:name=".Activity.Produk.RansCilegon.TataKelolaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.RansCilegon.PemainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.RansCilegon.StadionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.RansCilegon.SejarahRansCilegonActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.RansCilegonActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.AgamaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.ProduksiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.SiniarActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.HiburanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.PerjalananActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.KulinerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Produk.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Penghargaan.PenerimaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Penghargaan.NominasiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Penghargaan.MenangActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PenghasilanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PenghargaanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProdukActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SejarahActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>